@import 'tailwindcss';

html,
body {
    height: 100%;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;

    main {
        flex: 1 0 auto;
    }

    footer {
        flex-shrink: 0;
    }
}

input {
    color: black;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.info {
    grid-template-rows: 80px 200px 100px auto 100px;
}

@media (min-width: 768px) {
    .info {
        grid-template-rows: auto;
    }
}
